{% extends "home/home.html.twig" %}


{% block title %}{{ messages[0].thread.nomThread}}{% endblock %}

{% block body %}
    <table class="table table-inverse">
        <tr class="table100-head">
            <th class="column1">Utilisateur</th>
            <th class="column2">contenu</th>
            <th class="column3">Date du message</th>


        </tr>
        {% for message in messages %}
            <tr>
               <td width="25%" class="column1">{{ message.user.username }}</td>
                <td class="column2">{{ message.contenu }}</td>
                <td class="column3">{{ message.dateMessage |date("d/m/Y") }}</td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}