{% extends "base.html.twig" %}

{% block titleHead %}Ajout de message{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('textarea.ckeditor').ckeditor();
        });
    </script>
{% endblock %}
{%  block body %}
    <body>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Envoyer</button>
    {{ form_end(form) }}
    </body>
{% endblock %}